* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 300px;
}

.weather-card {
  background: linear-gradient(180deg, #0ba5b5, #0b7fa5);
  color: white;
  border-radius: 30px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.city {
  font-size: 20px;
  font-weight: 600;
}

.date {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.temp {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 25px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.weather-info div {
  text-align: center;
  font-size: 14px;
}

.weather-info span {
  font-size: 20px;
  display: block;
}

.ai-btn {
  background: white;
  color: #0b7fa5;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.ai-btn:hover {
  background: #f0f0f0;
}
