<form method="get" action="/" class="form">
  <div class="form-group">
    <label>Username</label>
    <input name="username" class="form-control" value="{{username}}" />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input name="email" class="form-control" value="{{email}}" />
  </div>
  <button class="btn btn-primary" type="submit">Save (no-op demo)</button>
  <a class="btn btn-link" href="/">Back</a>
</form>
